$success-primary: #8CC152;
$success-secondary: #A0D468;
$success-bar-fill: #7ead49;

$info-primary: #3BAFDA;
$info-secondary: #4FC1E9;
$info-bar-fill: #359dc4;

$error-primary: #DA4453;
$error-secondary: #ED5565;
$error-bar-fill: #C91F37;

$warning-primary: #F6BB42;
$warning-secondary: #FFCE54;
$warning-bar-fill: #E2B13C;